aiohttp
backtrader
duckduckgo-search
finnhub-python
httpx
huggingface_hub
ipykernel
ipython
jupyter-client
langchain
langchain-community
langchain-fmp-data
langchain-google-genai
langchain-nvidia-ai-endpoints
langchain-ollama
langgraph
langgraph-api==0.1.20
langgraph-cli[in-mem]==0.2.7
langgraph-runtime-inmem==0.0.8
langchain_mcp_adapters
langgraph_swarm
langgraph_supervisor
marker-pdf
marker-pdf[full]
matplotlib
mplfinance
nltk
numpy
openai
pandas
pandas_datareader
pdfkit
praw
pyPDF2
pydantic
pypdfium2
ratelimit
reportlab
requests
scikit-learn
sec_api
setuptools
starlette
ta
tavily-python
tenacity
torch
tqdm
tushare
typing-extensions
unstructured
wheel
yfinance